<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>hF/m4R9T2UmaczZN519cdX2f6cenGVT930IHtkZsuO5eOPLkculA9xH/PjrTNjmLMKUUr/OFdrKAkUCq5PjRDQmi3HmE+JUpwG8+rQNbLjb9oSZmsFFQBlu0bhBNMH9Ofu9rLvUiqYjt2baqqniAYSM5ZW3OtDBz/2vZqCN9YmVIDQJdiTwGj1VocJH3fYExUv2061P6h4rvI+Ci1MjbS+YPL6Ijduqtk2t8Jnj0fCTIFGWR/xf9xZdCSi7P7JvWgiFRfQ+2Yr96LmivqAnc6i8DCDO2ZQChmv7Zl1PCeWa7Wte0S9Mq8qU7pJWDNrMtRf8t6s79rU3TlmxBwzCWYA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>S3qZf6JsEXSk+9OiOQszrGKYnTgWAY3ZDrsE1ed73RECPbpXh6jXCsz2orRRfIZRtItg4YxihebLf61nlrAV36j6mmcba2N1CENJ7feCyUah7VCzd6ooIPNAEuefiGGHy6Hh9W2MBTyjquKORhvIbfbLLPEz3U3ZnPK/hvbC5jmKkqoJSNbZofd8qHGbiHoYpG9cVlNccBLj2hDOPZGDP2A1JYjo4ZTxXAqpuEn0cXzospveLCSke8zcFc2ic/AOd2E80f2FZh/qfmoOZsHuqH6sgNLblaAeRNSYKZxtUAS+MJmYzgFltmECafHf9y+z9WTkhsHC2fcSUyuH4dKp4zdCyJiXjBxjGZj8thCwm/idkccAkIf5WdCSY6L3qZgYQ3gW3OXFxCqdhbvpS9VDFH6DgAnSHUcMy6gGHaG245AUV+GX/7Tx87L+5zxOgphRbhBlBnPlXt0dYuhss3uFdXDyc7b741998/avNwlzyO2+L42CJ6CtzKaPf5F3AClolM3HutKqW4WKIe/v7Apf/juy0URrKPvLqOdJr0XHivu/JYVbWAc86AKZ/VLx5o8PpgS2iGWcHJRD7Ibtbn3H76w92O06xXf1Rzdke5xrU6d1tTvaqFuRZz+I0SYhq6aIZ4fmn2b3EqvRooIB9DMXDiZi5U0/S/dA+sdxoBR53NvSOrVoKRi1GMw3bTPeltv3rf/UOc+LBNmvnRs5yPI8A97PHBffsCalUeu+6L74ZjpBwXAxQp1HR4NkJQr8efO9tGs2yHOr0ZpPGyTUfwu9Xeni+SGnC980wrNsvXg/GvaUvDzeOuV3W9o9n+Arh+XSQBjsa+dlaakcL9/IX+bVOGSb+HaDZgd1</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      <customErrors mode="RemoteOnly" defaultRedirect="MGSCustomError.aspx"/>
    </system.web>

</configuration>

        